* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #efeaea;
    color: #0A1A2F;
}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 15px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background: rgba(26, 26, 26, 0.9);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.logo {
    font-size: 22px;
    font-weight: 700;
    color: #D4AF37;
    letter-spacing: 1px;
}

.nav-links a {
    margin-left: 25px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #D4AF37;
}

.menu-btn {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/* HERO */
.hero {
    height: 100vh;
    background: url('img/header.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    padding-left: 8%;
}



.hero-text h1 {
    font-size: 48px;
    color: #0A1A2F;
    text-shadow: 0 3px 10px rgb(235, 230, 230);
}

.hero-text p {
    color: #0A1A2F;
    font-size: 18px;
    margin: 10px 0 25px;
}

.btn {
    display: inline-block;
    background: #D4AF37;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover {
    background: #E5C46A;
}

/* PRODUK */
.produk-section {
    padding: 100px 7%;
    text-align: center;
}

.produk-section h2 {
    margin-bottom: 40px;
    font-size: 28px;
}

.produk-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 30px;
}

.card {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.12);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* KONTAK */
.kontak-section {
    padding: 80px 7%;
    text-align: center;
}

/* ANIMASI */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1.3s forwards;
}

.fade-up {
    opacity: 0;
    transform: translateY(40px);
}

.fade-up.active {
    animation: fadeUp 1.2s forwards;
}

@keyframes fadeIn {
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeUp {
    to { opacity: 1; transform: translateY(0); }
}

/* MOBILE */
@media (max-width: 850px) {
    .nav-links {
        position: absolute;
        top: 70px;
        right: -100%;
        flex-direction: column;
        background: #0C1D33;
        width: 200px;
        padding: 20px;
        box-shadow: 0 3px 12px rgba(0,0,0,0.20);
        transition: 0.4s;
    }

    .nav-links a {
        margin: 15px 0;
    }

    .menu-btn {
        display: block;
    }

    .nav-active {
        right: 0;
    }
}